@charset "UTF-8";

.navBar{
	position: fixed;
	top: 300px;
	left: 0px;
	z-index: 50;
	width: 200px;
	height: 268px;
	background: #1d7647;
	
	border: 2px solid #a0cab0;
}
.navTitle{
	display: flex;
	justify-content: space-between;
	width: 136px;
	font-size: 15pt;
	font-weight: bold;
	padding: 20px;
	color: #d8e9d9;
}
.navTitle img{
	position: absolute;
	width: 50px;
	height:50px;
	left: 140px;
	top: 8px;
}
.navList{
	width: 200px;
	height: 201px;
	padding: 0px;
	margin: 0px;
	font-size: 15pt;
	font-weight: bold;
	background: aliceblue;
	list-style-type: none;
}
.navBar ul li,
.mypagebox ul li{
	padding: 20px;
	cursor: pointer;
}

.curPlace{
	background: #64b883;
	color: white;
}

.putinBtn{
	position: fixed;
/* 	top: 0px; */
/* 	left: 0px; */
	z-index: 50;
	left: 210px;
	top: 420px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #1d7647;
	opacity: 0.5;
	cursor: pointer;
}
.putinBtn img{
	width: 50px;
	height: 50px;
}

.putinLeft{
	left: -210px;
	transition: left 300ms ease-in-out;
}
.btnInLeft{
	left: 0px;
	transition: left 300ms ease-in-out;
}

.navBar,
.putinBtn {
    display: none;
}

.navBar.show,
.putinBtn.show {
    display: block;
}
